body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.link-logo {
  padding-left:2px;
}

.spacer {
  aspect-ratio: 960/300;
  width: 100%;
  padding-top: 42%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.layer1 {
  background-image: url('./images/intro-background.svg');
}

.layer2 {
  background-image: url('./images/projects-transition.svg');
}

.welcome-container {
  height: 30vh;
  width: 90%;
  padding-top: 6%;
  margin-left: auto;
  margin-right: auto;
  font-weight: 600;
}

.welcome-text-1 {
  font-size: calc(1.5rem + ((1vw - 7.68px) * 1.0416666666666667));
}

.welcome-text-2 {
  font-size: calc(5rem + ((1vw - 7.68px) * 5.555555555555555));
}

.about-container {
  background-color: #392759;
  height: 40vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  grid-template-columns: 100px 50px 100px;
  grid-template-rows: 80px auto 80px;
}

.about-content {
  width: 50%;
  padding-top: 4%;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
}

.content-text {
  font-size: 16px;
  color: white;
}

.about-profile {
  margin: 10% auto 0 auto;
}

.sidebar-container {
  width: 40px;
  position: fixed;
  bottom: 0px;
  left: 20px;
  right: auto;
  z-index: 10;
}

.links-list-container {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

#rectangle {
  width: 2px;
  height: 100px;
  margin-left: 18px;
  margin-top: 10px;
  background: rgb(122,92,97);
  z-index: 10;
}

.profile {
  border-radius: 100%;
}

.technologies-list {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

.featured-projects-container {
  background-color: #F7ACCF;
  color: black;
  height: 200vh;
}

.featured-projects-content {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.featured-projects-heading {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  margin:0px 0px 40px;
  width: 100%;
  font-size: 30px;
  white-space: nowrap;
}

.featured-projects-list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.featured-projects-item {
  position: relative;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(12, 1fr);
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 50px;
}

.project-item-content {
  grid-column: 7 / -1;
  text-align: right;
  position: relative;
  grid-area: 1 / 1 / -1 / -1;
}

.project-title {
  margin: 0px 0px 20px;
  font-size: clamp(24px, 5vw, 28px);
}

.project-description {
  box-shadow: 0 10px 30px -15px #6666663f;
  position: relative;
  z-index: 2;
  padding: 25px;
  border-radius: 4px;
  background-color: #E8F0FF;
  width: 50%;
  margin-left: auto;
  font-size: 18px;
}

.project-tech-list {
  -webkit-box-pack: end;
  justify-content: flex-end;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;
  margin: 25px 0px 10px;
  padding: 0px;
  list-style: none;
}

.tech-item {
  margin: 0 8px;
}

.project-image-container {
  grid-area: 1 / 1 / 4 / -5;
  position: relative;
  z-index: 1;
}

.mini-featured-projects-list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.mini-featured-projects-item {
  margin-bottom: 70px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  -webkit-box-align: center;
  align-items: center;
}

.mini-project-item-content {
  grid-column: 1 / -1;
  grid-area: 1 / 1 / -1 / -1;
  padding: 40px 40px 30px;
  text-align: left;
  color: white;
  z-index: 2;
}

.mini-project-overline {
  margin: 10px 0px;
  font-size: 13px;
  font-weight: 400;
}

.mini-project-title {
  margin: 0px 0px 10px;
  font-size: 20px;
  font-weight: 600;
}

.mini-project-tech-list {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;
  margin: 25px 0px 10px;
  padding: 0;
  list-style: none;
}

.mini-project-tech-item {
  margin: 0px 10px 5px 0px;
}

.mini-project-image-container {
  position: relative;
  grid-area: 1 / 1 / -1 / -1;
  height: 100%;
  opacity: 0.25;
  z-index: 1;
}

.mini-project-image {
  object-fit: cover;
  width: auto;
  height: 100%;
  filter: grayscale(100%) contrast(1) brightness(50%);
}

.project-links {
  -webkit-box-pack: end;
  justify-content: flex-end;
  margin-left: 0px;
  margin-right: 10px;
}

.project-link-item {
  margin-left: 10px;
  margin-right: 10px;
}

.project-links-mini {
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
}

.blog_landing {
  height: 100vh;
  overflow: hidden;
}

.blog_content {
  margin: 0px auto;
  width: 100%;
  max-width: 1600px;
  min-height: 100vh;
  padding: 100px 150px;
}

.blog_heading {
  font-weight: 600;
  color:#0a192f;
  line-height: 1.1;
  font-size: clamp(40px, 8vw, 80px);
}

.blog_subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  padding-top: 20px;
  padding-bottom: 50px;
}

.table_year {
  width: 15%;
  padding-right: 20px;
  padding-top: 5px;
}

.table_name {
  width: 20%;
  padding-right: 20px;
  padding-top: 5px;
}

.table_type {
  width: 15%;
  padding-right: 20px;
  padding-top: 5px;
}

.table_built {
  width: 40%;
}

.table_link{
  padding-right: 15px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

@media only screen and (max-width: 1200px) {
  .about-container {
    height: 70vh;
  }

  .featured-projects-container {
    height: 150vh;
  }
}

@media only screen and (max-width: 1080px) {
  .sidebar-container {
    display: none;
  }

  .featured-projects-container {
    height: 190vh;
  }
}

@media only screen and (max-width: 750px) {
  .about-container {
    height: auto;
  }

  .about-content {
    width: 90%;
    padding-top: 3%;
    font-size: 0.8rem;
  }

  .header-text {
    font-size: 1.5rem;
  }

  .about-profile {
    padding-right: 0;
    height: 200px;
    width: 200px;
  }

  .featured-projects-container {
    height: 170vh;
  }
}

@media only screen and (max-width: 400px) {
  .welcome-container {
    height: 45vh;
  }
}

@media only screen and (max-width: 375px) {
  .welcome-container {
    height: 45vh;
  }

  .about-container {
    height: 135vh;
  }
}