body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.link-logo {
  padding-left:2px;
}

.spacer {
  aspect-ratio: 960/300;
  width: 100%;
  padding-top: 42%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.layer1 {
  background-image: url('./images/intro-background.svg')
}

.welcome-container {
  height: 30vh;
  width: 90%;
  padding-top: 6%;
  margin-left: auto;
  margin-right: auto;
  font-weight: 600;
}

.welcome-text-1 {
  font-size: calc(1.5rem + ((1vw - 7.68px) * 1.0416666666666667));
}

.welcome-text-2 {
  font-size: calc(5rem + ((1vw - 7.68px) * 5.555555555555555));
}

.about-container {
  background-color: #392759;
  height: 80vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  grid-template-columns: 100px 50px 100px;
  grid-template-rows: 80px auto 80px;
}

.about-content {
  width: 50%;
  padding-top: 4%;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
}

.content-text {
  font-size: 16px;
  color: white;
}

.about-profile {
  margin: 10% auto 0 auto;
}

.sidebar-container {
  width: 40px;
  position: fixed;
  bottom: 0px;
  left: 40px;
  right: auto;
  z-index: 10;
}

.links-list-container {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

@media only screen and (max-width: 1080px) {
  .sidebar-container {
    display: none;
  }
}

@media only screen and (max-width: 750px) {
  .about-container {
    height: 105vh;
  }

  .about-content {
    width: 90%;
    padding-top: 3%;
    font-size: 0.8rem;
  }

  .header-text {
    font-size: 1.5rem;
  }

  .about-profile {
    padding-right: 0;
    height: 200px;
    width: 200px;
  }
}

@media only screen and (max-width: 375px) {
  .welcome-container {
    height: 45vh;
  }

  .about-container {
    height: 140vh;
  }
}